.main {}

.filmContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filmContainer > .mediaContainer:nth-child(odd) {
}

.filmContainer > .mediaContainer:nth-child(odd) img {
  border-bottom: 1rem solid var(--color-red);
}

.filmContainer > .mediaContainer:nth-child(even) {
}

.filmContainer > .mediaContainer:nth-child(even) img {
  border-bottom: 1rem solid var(--color-red);
}