.filmContainer {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}

.filmContainer > .mediaContainer:nth-child(odd) img {
  border-bottom: 1rem solid var(--color-red);
}

.filmContainer > .mediaContainer:nth-child(even) img {
  border-bottom: 1rem solid var(--color-red);
}

.filmContainer > .textContainer:nth-child(odd) {
  padding-right: 4rem;
  max-width: 60%;
}

.filmContainer > .textContainer:nth-child(even) {
  padding-left: 4rem;
  max-width: 60%;
}

@media screen and (max-width: 850px) {

  .filmContainer {
    flex-direction: column;
    padding: 2rem;
  }

  .filmContainer > .mediaContainer:nth-child(even) img,
  .filmContainer > .mediaContainer:nth-child(odd) img {
    display: hidden;
  }

  .filmContainer > .mediaContainer:nth-child(even)
  {
    margin-bottom: 2rem;
  }

  .filmContainer > .mediaContainer:nth-child(odd)
  {
    margin-top: 2rem;
  }

}