.login-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-black);
  box-shadow : 0 0 10px 0 rgba(0, 0, 0, 0.637);
  padding: 40px;
  z-index: 1000;
}

.login-popup h2 {
  margin-bottom: 20px;
  color: #fff;
  font-family: var(--font-base);
}

.login-form label {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  font-family: var(--font-base);
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: var(--color-black);
  color: #fff;
}

.loginButtons
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form button {
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  background-color: #ffffff;
  color: var(--color-black);
  border: none;
  cursor: pointer;
}

.login-form label p {
  color: #ffffff;
  margin-bottom: 10px;
}

.close-button {
  margin-top: -60px;
  margin-right: -20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 5px 11px;
  border-radius: 5px;
  font-family: var(--font-base);
  font-weight: 700;
  cursor: pointer;
}

.login-popup-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button:hover {
  background-color: #0056b3;
  color: #ffffff;
}

.login-form button:hover {
  background-color: #0056b3;
}