.login-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-black);
  box-shadow : 0 0 10px 0 rgba(0, 0, 0, 0.637);
  padding: 20px;
  z-index: 1000;
  border: rgb(100, 100, 100) 1px solid;
  border-radius: 5px;
}

.login-popup h2 {
  margin-bottom: 10px;
  color: #fff;
  font-family: var(--font-base);
  font-weight: 200;
}

.login-form label {
  display: block;
  color: #fff;
  font-family: var(--font-base);
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: var(--color-black);
  color: #fff;
}

.error-message {
  color: var(--color-red);
  font-weight: bold;
  margin-top: 10px;
}

.loginButtons
{
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top: 2vh;
}

.login-form button {
  display: flex;
  font-family: var(--font-base);
  font-size: 14px;
  font-weight: 700;
  padding: 10px 40px;
  background-color: #ffffff;
  color: var(--color-black);
  border: none;
  cursor: pointer;
}

.login-form label p {
  color: #ffffff;
  margin-bottom: 10px;
}

.login-popup-close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.close-button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 4px 10px;
  border-radius: 5px;
  font-family: var(--font-base);
  font-weight: 700;
  cursor: pointer;
}

.login-popup-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button:hover {
  background-color: var(--color-red);
  color: #ffffff;
}

.login-form button:hover {
  background-color: var(--color-red);
  color: #ffffff;
}