.soMe {
  display: flex;
  flex-direction: column;
  font-family: var(--font-base);
  color: var(--color-white);
  background: var(--color-black);
  padding: 1rem 0rem;
}

.soMe h1 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.soMe-links li {
  display: flex;
  font-family: var(--font-base);
  color: var(--color-white);
  margin-bottom: 0.5rem;
  font-weight: 200;
  cursor: pointer;
}

.soMe-links li:hover {
  font-weight: 400;
}