.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: var(--color-black);
}

.footer .soMe,
.footer .newsletter {
  flex: 1;
  padding: 1 1rem;
  border-top: 1px solid var(--color-white);
  margin: 0 1rem;
}
