.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 5rem;
  z-index: 10;
  transition: background-color 0.5s ease;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.76);
}

.rotate {
  transform: rotate(90deg);
}

.navbar-content-icon:hover:not(.rotate) {
  transform: scale(1.1);
}

.navbar-content:not(.menu-open):hover .navbar-content-icon {
  transform: scale(1.1);
}

.navbar-content-icon {
  transition: transform 0.3s ease;
}

.navbar-content:hover .navbar-content-icon {
transform: scale(1.1);
transition: all 0.3s ease;
cursor: pointer;
}

.navbar-content-menu-close:hover .navbar-content-close-button {
  transform: scale(1.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.navbar-content:not(.menu-open):hover .navbar-content-icon {
  transform: scale(1.1);
}

.navbar-content {
  display: flex;
  align-items: center;
  border-style: none;
  background: none;
  cursor: pointer;
  z-index: 10;
}

.navbar-content-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background: var(--color-black);
  transition: .5s ease;
  flex-direction: column;
  z-index: 5;
}

.navbar-content-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45px;
  border-style: none;
  background: none;
}

.navbar-content-links li {
  display: flex;
  list-style: none;
  cursor: pointer;
  color: var(--color-white);
  font-size: 3rem;
  font-family: var(--font-base);
  transition: .8s ease;
  font-variant-caps: all-small-caps;
}

.navbar-content-links li:hover {
  color: rgb(211, 30, 30);
  transition: .5s ease;
}

.navbar-login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 20px;
  border-style: none;
  background: none;
  cursor: pointer;
  max-width: 20vw;
}

.navbar-login-button:hover .navbar-login-button-unlocked {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.navbar-content-text {
  display: flex;
  align-items: center;
  font-family: var(--font-base);
  font-weight: 200;
  font-size: 1.25rem;
  color: var(--color-white);
  padding: 10px 0;
  margin-left: 20px;
}

.navbar-login-text {
  display: flex;
  align-items: center;
  font-family: var(--font-base);
  font-weight: 200;
  font-size: 1.25rem;
  color: var(--color-white);
  padding: 10px 0;
  margin-right: 20px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  color: (var--color-white);
  padding-top: 20px;
  transform: scale(1.0);
  transform-origin: center;
}

.navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar-links li {
  cursor: pointer;
}

.navbar-links li:hover {
  color: var(--color-grey);
}

.navbar.scrolled {
  order: 1;
  z-index: 10;
}

.navbar-content-close-button {
  font-size: 27px;
  color: var(--color-white);
  cursor: pointer;
}

.navbar-content-close-button-text {
  font-size: 1.25rem;
  color: var(--color-white);
  font-family: var(--font-base);
  font-weight: 200;
  cursor: pointer;
  margin-left: 10px;
}



@media screen and (min-width: 2000px) {


  .navbar-content
  {
    width: 100%;
  }

  .navbar-content-menu {
      width: 100%;
  }
}

@media screen and (max-width: 1600px) {
  .navbar-links {
      display: none;
  }

  .navbar-content {
      display: flex;
  }

  .navbar-content-icon {
    width: 30%;
  }

  .navbar-content-links li {
      font-size: 1.5rem;
  }

  
}

@media screen and (max-width: 1150px) {
  .navbar-links {
      display: none;
  }

  .navbar-logo {
    width: 30%;
  }

  .navbar-content {
      display: flex;
  }

  .navbar-content-icon {
    width: 30%;
  }
  
}

@media screen and (max-width: 900px) {
  .navbar {
      padding: 1rem;
  }

  .navbar-content-menu {
      width: 100%;
  }

  .navbar-logo {
    width: 30%;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
      padding: 1rem;
  }

  .navbar-content-menu {
      width: 100%;
  }

  .navbar-content-links li {
      font-size: 1.25rem;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
      padding: 1rem;
  }

  .navbar-content-menu {
      width: 100%;
  }

  .navbar-content-links li {
      font-size: 1rem;
  }
}