.textContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  background-color: var(--color-white);
  font-family: var(--font-base);
  max-width: 40%;
}

.textContainer h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--color-black);
  border-left: 1rem solid var(--color-red);
  padding-left: 1rem;
}

.textContainer h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--color-grey);
}

.textContainer p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--color-black);
}

.textContainer-button
{
  display: flex;
  justify-content: bottom;
  align-items: bottom;
  margin-top: 1rem;
}

.readMoreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-base);
  font-size: 1.2rem;
  font-weight: 400;
  border-style: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.readMoreButton:hover {
  background-color: var(--color-red);
  color: var(--color-white);
}

