.mediaContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mediaContainer img {
  width: 80vh;
  height: 80vh;
  transition: all 2s ease;
}

.mediaContainer img:hover {
  transition: all 2s ease;
  cursor: pointer;
}
