.newsletter {
  padding: 1rem 0rem;
  background: var(--color-black);
  font-family: var(--font-base);
  color: var(--color-white);
}

.newsletter_button {
  background-color: var(--color-white);
  font-family: (--font-base);
  color: var(--color-black);
  border: none;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-family: var(--font-base);
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.newsletter_button:hover {
  background-color: var(--color-red);
  color: var(--color-white);
}

.newsletter-input {
  display: flex;
  flex-direction: row;
}

.newsletter-text h1 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.newsletter-text p {
  color: var(--color-white);
  font-family: var(--font-base);
  margin-bottom: 2rem;
  max-width: 40vh;
}

.newsletter-input input {
  width: 100%;
  border: 1px solid var(--color-white);
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--font-base);
  color: var(--color-white);
  
  margin-right: 2rem;
  padding: 0.75rem 1rem;
  background: var(--color-black);
}

.newsletter-input input.input-error::placeholder {
  color: red;
}

.newsletter-input input::placeholder {
  color: var(--color-white);
}

.newsletter_successmsg {
  color: var(--color-white);
  font-family: var(--font-base);
  margin-top: 2rem;
  display: flex;
  align-items: left;
  justify-content: left;
}

.newsletter-input button {
  width: max-content;
}

@media screen and (min-width: 2000px) {
  .newsletter-input input {
      font-size: 2rem;
  }
}

@media screen and (max-width: 990px) {
  .newsletter-input {
      flex-direction: column;
      width: 100%;
  }

  .newsletter-input input {
      margin: 0 0 2rem 0;
      width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .newsletter {
      padding: 2rem 0;
      border: none;
  }
}

@media screen and (max-width: 300px) {
  .newsletter-heading h1 {
      font-size: 32px;
      line-height: 50px;
  }
}
