.app__aboutus {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__aboutus-overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.align-bottom-left {
  justify-content: flex-end;
  align-items: flex-start;
}

.app__aboutus_featured-item {
  align-items: flex-start;
  margin: -15px 0;
}

.app__aboutus_featured-item-title {
  align-items: flex-start;
  margin: 0;
}

.app__aboutus_featured_item_hero-title {
  align-items: flex-start;
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 5rem;
  color: var(--color-white);
}

.app__aboutus_featured_item_hero-title:hover {
  color: var(--color-white-trans);
}

@media screen and (max-width: 900px) {
  .app__aboutus-content {
      flex-direction: column;
  }

  .app__aboutus_featured_item_hero-title {
      font-size: 4.5rem;
  }

  .app__aboutus_featured-item {
    margin: -13px 0;
  }
}

@media screen and (max-width: 700px) {
  .app__aboutus-content {
      flex-direction: column;
  }

  .app__aboutus_featured_item_hero-title {
      font-size: 4rem;
  }

  .app__aboutus_featured-item {
    margin: -11px 0;
  }
}

@media screen and (max-width: 650px) {
  .app__aboutus-overlay img {
      width: 80%;
      height: 80%;
  }

  .app__aboutus_featured_item_hero-title {
      font-size: 3.5rem;
  }

  .app__aboutus_featured-item {
    margin: -9px 0;
  }
}