.app__aboutus {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--color-black);
}

.app__bg_anim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app__bg_anim.blur-out {
  filter: blur(10px);
  transition: filter 1s;
}

.app__bg_anim.hidden {
  display: block;
  opacity: 0;
}

.app__aboutus-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.align-bottom-left {
  justify-content: flex-end;
  align-items: flex-start;
}

.app__aboutus_featured-item {
  display: flex;
  align-items: flex-start;
  z-index: 1;
}

.app__aboutus_featured-item-title {
  display: flex;
  align-items: flex-start;
  margin: 0;
}

.app__aboutus_featured_item_hero-title {
  display: flex;
  align-items: flex-start;
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 5rem;
  color: var(--color-white);
}

.app__aboutus_featured_item_hero-title:hover {
  color: var(--color-white-trans);
}


@media screen and (max-width: 900px) {
  .app__aboutus-content {
      flex-direction: column;
  }

  .app__aboutus_featured_item_hero-title {
      font-size: 4.5rem;
  }

  .app__aboutus_featured-item {
    margin: -13px 0;
  }
}

@media screen and (max-width: 700px) {
  .app__aboutus-content {
      flex-direction: column;
  }

  .app__aboutus_featured_item_hero-title {
      font-size: 4rem;
  }

  .app__aboutus_featured-item {
    margin: -11px 0;
  }
}

@media screen and (max-width: 650px) {
  .app__aboutus-overlay img {
      width: 80%;
      height: 80%;
  }

  .app__aboutus_featured_item_hero-title {
      font-size: 3.5rem;
  }

  .app__aboutus_featured-item {
    margin: -9px 0;
  }
}